@font-face {
    font-family: 'data';
    src: url('title.ttf');
}
.mobileMenuIcon {

}

    .mobileMenuIcon::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 3px;
        background-color: #3076f3;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.3s;
    }

    .mobileMenuIcon:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

.iconList {
    /*position: absolute;*/
    /*top: 0.8rem;*/
    /*left: 11rem;*/
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
}
.iconList > img{
    height:2.5rem;
    user-select:none;
    cursor:pointer;
}

.iconList > img:hover {
    transform:translateY(-0.1rem);
    transition: all 0.1s;
}

.headTitle {
    font-family: 'data';
    font-weight:bold;
    /*position: absolute;*/
    color: #3076f3;
    font-size: 2rem;
    /*top: 0.5rem;*/
    /*left: 1.5rem;*/
    cursor:pointer;
    user-select: none;
}

.headTitle:hover{
    transition: all 0.1s;
}
body{
    transition:all 0.1s;
}

.header {
    transition: all 0.1s ease-in-out;
}

.container {
    /*position:absolute;*/
    display: flex;
    /*justify-content: space-evenly;*/
    align-items: center;
    /*height: 2rem;*/
    /*left:37rem;*/
    /*top:1rem;*/
    width:20rem;
    gap:2rem;
}

.underline-paragraph {
    position: relative;
    display: inline-block;
    font-weight:bold;
    cursor: pointer;
    color: #3076f3;
    font-family:data;
    user-select:none;

}

.underline-paragraph:hover{
    transform:translateY(-0.2rem);
    transition:all 0.3s;
}

    .underline-paragraph::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: #3076f3; 
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.3s;
    }

    .underline-paragraph:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }
.slider{
    /*position:absolute;*/
    height:1.3rem;
    width:2.5rem;
    border-radius:1rem;
    background-color:black;
    user-select:none;
   
}
.dot{
    user-select:none;
    position:absolute;
    border-radius:50%;
    width:1.3rem;
    height:1.3rem;
    transition:ease-out 0.2s;
}
.themeicon{
    /*position:absolute;*/
    /*top:-1.5rem;*/
    
    font-size:2rem;
    user-select:none;
}

.dot:hover,.slider:hover{
    cursor:pointer;
}
.adadadawdada {
    color:#1f2434;
}


